In [2]:
import numpy as np
import pandas as pd

In [3]:
dong_names = ['염창동', '등촌1동', '등촌2동', '등촌3동', '화곡본동', 
     '화곡1동', '화곡2동', '화곡3동', '화곡4동', '화곡6동', '화곡8동',
     '가양1동', '가양2동', '가양3동', '발산1동', '공항동',
     '방화1동', '방화2동', '방화3동', '우장산동']

# 병원

In [26]:
df = pd.read_excel("서울병원수.xls")
# df.columns = df.loc[0]
# df = df.drop(0)
df.index = df.loc[:, '동']
# df = df.drop([6], axis=1)
df

,기간,자치구,동,계,계.1,종합병원,종합병원.1,병원,병원.1,의원,...,치과병원,치과병원.1,치과의원,치과의원.1,한방병원,한방병원.1,한방의원,한방의원.1,조산원,조산원.1
동,,,,,,,,,,,,,,,,,,,,,
동,기간,자치구,동,병원수,병상수,병원수,병상수,병원수,병상수,병원수,...,병원수,병상수,병원수,병상수,병원수,병상수,병원수,병상수,병원수,병상수
합계,2017,합계,합계,17142,86800,57,33077,214,17740,8176,...,64,96,4786,69,43,2657,3626,728,3,12
소계,2017,종로구,소계,500,3387,4,2978,2,153,182,...,1,40,168,-,1,31,135,-,-,-
사직동,2017,종로구,사직동,75,23,-,-,-,-,28,...,-,-,29,-,-,-,16,-,-,-
삼청동,2017,종로구,삼청동,11,30,-,-,1,30,3,...,-,-,4,-,-,-,2,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
둔촌1동,2017,강동구,둔촌1동,1,-,-,-,-,-,1,...,-,-,-,-,-,-,-,-,-,-
둔촌2동,2017,강동구,둔촌2동,28,1413,1,965,-,-,9,...,-,-,9,-,-,-,8,-,-,-
암사1동,2017,강동구,암사1동,37,221,-,-,-,-,11,...,-,-,11,-,-,-,14,-,-,-
천호2동,2017,강동구,천호2동,118,1090,-,-,1,32,71,...,1,-,26,-,-,-,16,-,-,-
길동,2017,강동구,길동,103,1361,1,620,3,237,44,...,-,-,30,-,2,198,22,19,-,-

In [29]:
hospital = df.loc['염창동':'우장산동', '계']

In [32]:
hospital = hospital.reindex(dong_names)

In [93]:
hospital.name = '병원수'

In [94]:
hospital

동
염창동     41
등촌1동    39
등촌2동    14
등촌3동    54
화곡본동    37
화곡1동    80
화곡2동    13
화곡3동    39
화곡4동    30
화곡6동    31
화곡8동    38
가양1동    83
가양2동    33
가양3동     9
발산1동    65
공항동     21
방화1동    51
방화2동    25
방화3동    12
우장산동    62
Name: 병원수, dtype: object

In [92]:
health = pd.Series([
    1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0
],
index = dong_names)

In [96]:
health_care = pd.DataFrame({
    '병원 수': hospital,
    '보건소 수': health
})

In [97]:
health_care

     병원 수  보건소 수
염창동    41      1
등촌1동   39      0
등촌2동   14      0
등촌3동   54      0
화곡본동   37      0
화곡1동   80      1
화곡2동   13      0
화곡3동   39      0
화곡4동   30      0
화곡6동   31      0
화곡8동   38      0
가양1동   83      0
가양2동   33      0
가양3동    9      0
발산1동   65      0
공항동    21      0
방화1동   51      0
방화2동   25      0
방화3동   12      1
우장산동   62      0

In [99]:
health_care.to_csv('X_의료시설수.csv', encoding='utf-8-sig')

# 대형마트 및 백화점

In [46]:
df1 = pd.read_excel("백화점대형마트수.xls")
df1.index = df1.loc[:, '동']
df1

,기간,자치구,동,합계,합계.1,합계.2,대형마트,대형마트.1,대형마트.2,백화점,...,전문점.2,쇼핑센터,쇼핑센터.1,쇼핑센터.2,복합쇼핑몰,복합쇼핑몰.1,복합쇼핑몰.2,그밖의 대규모점포,그밖의 대규모점포.1,그밖의 대규모점포.2
동,,,,,,,,,,,,,,,,,,,,,
동,기간,자치구,동,합계,합계,합계,대형마트,대형마트,대형마트,백화점,...,전문점,쇼핑센터,쇼핑센터,쇼핑센터,복합쇼핑몰,복합쇼핑몰,복합쇼핑몰,그밖의 대규모점포,그밖의 대규모점포,그밖의 대규모점포
동,기간,자치구,동,개소,면적,면적,개소,면적,면적,개소,...,면적,개소,면적,면적,개소,면적,면적,개소,면적,면적
동,기간,자치구,동,개소,판매면적,건물연면적,개소,판매면적,건물연면적,개소,...,건물연면적,개소,판매면적,건물연면적,개소,판매면적,건물연면적,개소,판매면적,건물연면적
합계,2020,합계,합계,461,4835972,24848784,57,629533,5198138,31,...,2348163,38,798015,4219892,9,177843,1435052,304,1856670,7612873
소계,2020,종로구,소계,13,156702,490721,-,-,-,-,...,168311,-,-,-,-,-,-,11,140446,322410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
천호3동,2020,강동구,천호3동,2,17783,63678,-,-,-,-,...,-,-,-,-,-,-,-,2,17783,63678
성내2동,2020,강동구,성내2동,1,3295,15438,-,-,-,-,...,-,-,-,-,-,-,-,1,3295,15438
성내3동,2020,강동구,성내3동,1,2486,23910,-,-,-,-,...,-,-,-,-,-,-,-,1,2486,23910
천호2동,2020,강동구,천호2동,3,58142,172624,1,9081,17294,1,...,-,-,-,-,-,-,-,1,15081,55669
길동,2020,강동구,길동,2,6515,43772,-,-,-,-,...,-,-,-,-,-,-,-,2,6515,43772

In [61]:
big = df1.loc['염창동':'화곡1동', '합계']

# s = np.add(department, supermarket)
# s.reindex(dong_names)

big['등촌2동'] = 0
big['화곡본동'] = 0
big['화곡2동'] = 0
big['화곡6동'] = 0
big['화곡8동'] = 0
big['가양1동'] = 0
big['공항동'] = 0
big['방화3동'] = 0
big['우장산동'] = 0


big = big.reindex(dong_names)
big.name = '대형점포수'

In [138]:
big.to_csv('data/X_대형점포수.csv', encoding='utf-8-sig')

# 대중교통 승객 수

In [77]:
df = pd.read_csv("서울시 행정동별 버스 총 승차 승객수 정보.csv", encoding='cp949')

df = df[df['기준_날짜'] == 20220317]

In [79]:
bus = pd.concat([df.loc[df['행정동_ID'] == 1116051, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116052, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116053, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116054, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116055, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116073, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116057, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116058, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116059, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116061, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116063, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116064, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116065, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116066, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116067, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116069, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116070, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116071, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116072, '버스_승객_수'],
                        df.loc[df['행정동_ID'] == 1116074, '버스_승객_수']]
                      )

In [81]:
bus.index = dong_names
bus

염창동     12812
등촌1동     7302
등촌2동     7243
등촌3동    10987
화곡본동     8359
화곡1동    17335
화곡2동     4474
화곡3동     4051
화곡4동     4818
화곡6동    13182
화곡8동     8067
가양1동    12767
가양2동     1911
가양3동     2231
발산1동    10303
공항동      6619
방화1동     5480
방화2동     4242
방화3동     1424
우장산동    10939
Name: 버스_승객_수, dtype: int64

In [82]:
df = pd.read_csv("서울시 행정동별 지하철 총 승차 승객수 정보.csv", encoding='cp949')

df = df[df['기준_날짜'] == 20220317]

In [83]:
subway = pd.concat([df.loc[df['행정동_ID'] == 1116051, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116052, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116053, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116054, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116055, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116073, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116057, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116058, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116059, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116061, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116063, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116064, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116065, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116066, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116067, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116069, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116070, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116071, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116072, '지하철_승객_수'],
                        df.loc[df['행정동_ID'] == 1116074, '지하철_승객_수']]
                      )

In [84]:
subway.index = dong_names
subway

염창동         NaN
등촌1동     6595.0
등촌2동        NaN
등촌3동    18041.0
화곡본동        NaN
화곡1동    51770.0
화곡2동        NaN
화곡3동        NaN
화곡4동        NaN
화곡6동        NaN
화곡8동        NaN
가양1동    29842.0
가양2동        NaN
가양3동        NaN
발산1동    13102.0
공항동      8523.0
방화1동    10964.0
방화2동    25228.0
방화3동     5832.0
우장산동    18276.0
Name: 지하철_승객_수, dtype: float64

In [85]:
df_passenger = pd.DataFrame({
    '버스 승객 수': bus,
    '지하철 승객 수': subway
})

In [139]:
df_passenger.to_csv('data/X_버스_지하철_승객수.csv', encoding='utf-8-sig')

## 주민등록인구, 노인인구비율

In [102]:
df5 = pd.read_csv("노인주민등록인구.csv", index_col =0)

In [110]:
elderly = pd.DataFrame({'노인 주민등록인구 수': df5['65세이상'][:20],
                       '노인 인구 비율': df5['비율'][:20]},
                      index=df5.index[:20])

In [113]:
elderly = elderly.reindex(dong_names)

In [114]:
elderly.to_csv('X_노인주민등록인구.csv', encoding='utf-8-sig')

## 전통시장수

In [116]:
traditional = pd.Series([
    0, 1, 0, 0, 1, 2, 0, 1, 2, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0
],
index = dong_names)

In [117]:
traditional

염창동     0
등촌1동    1
등촌2동    0
등촌3동    0
화곡본동    1
화곡1동    2
화곡2동    0
화곡3동    1
화곡4동    2
화곡6동    0
화곡8동    1
가양1동    0
가양2동    0
가양3동    0
발산1동    1
공항동     0
방화1동    1
방화2동    0
방화3동    0
우장산동    0
dtype: int64

In [118]:
traditional.to_csv('X_전통시장수.csv', encoding='utf-8-sig')

## 문화시설수

In [122]:
df8 = pd.read_csv("서울시 문화공간 정보.csv", encoding = 'cp949')
df8

,번호,주제분류,문화시설명,주소,X좌표,Y좌표,전화번호,팩스번호,홈페이지,관람시간,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,1,기타,경희대학교,서울특별시 동대문구 경희대로 26,37.595080,127.049302,02) 961-0114,NaN,https://www.khu.ac.kr/kor/main/index.do,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,공연장,우란2경,서울특별시 성동구 연무장7길 11,37.543790,127.054419,02-465-1418,NaN,http://www.wooranfdn.org/main.jsp,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,도서관,구립은평뉴타운도서관,서울특별시 은평구 진관2로 111-51,37.637230,126.933118,(02) 6341-6400,NaN,http://www.enlib.or.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,문화예술회관,노원문화예술회관,서울특별시 노원구 중계로 181,37.650236,127.080269,02-2289-3400,NaN,https://www.nowonart.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,미술관,서울시립미술관 SeMA창고,서울특별시 은평구 통일로 684,37.609405,126.934955,02-2124-8868,NaN,https://sema.seoul.go.kr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,762,공연장,크리에이터스 스페이스,서울특별시 동대문구 안암로 86-1,37.583486,127.030503,010-7401-3383,NaN,https://creatorsspace.co.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,763,기타,관악문화재단,서울특별시 관악구 신림로3길 35,37.467598,126.944871,02-828-5700,NaN,www.gfac.or.kr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,764,기타,도봉문화재단,서울특별시 도봉구 노해로63길 43,37.652710,127.043942,02-908-2900,02-908-2925,http://www.dbfac.or.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,765,박물관/기념관,둘리뮤지엄,서울 도봉구 쌍문동 산 250,37.652173,127.024530,02-990-2200,NaN,https://www.doolymuseum.or.kr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,766,기타,서울새활용플라자,서울특별시 성동구 자동차시장길49 서울새활용플라자,0.000000,0.000000,02-2153-0400,NaN,http://www.seoulup.or.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
df8['주소'] = df8['주소'].fillna('0')
gangseo = df8[df8['주소'].str.contains('강서')]
gangseo

,번호,주제분류,문화시설명,주소,X좌표,Y좌표,전화번호,팩스번호,홈페이지,관람시간,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
57,53,기타,강서구시설관리공단,서울 강서구 화곡동 1103-6 ),37.553002,126.848476,02-2607-9113,NaN,http://www.gssi.or.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,127,도서관,아리향기작은도서관,서울 강서구 염창동 53-1 2층 아리향기작은도서관,37.553736,126.870985,02-2600-7326,NaN,https://lib.gangseo.seoul.kr/small/use/guide_y...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,113,기타,국립국어원 우리말 꿈터,서울 강서구 방화동 827,37.579050,126.813812,02-2669-9687,NaN,www.korean.go.kr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,125,박물관/기념관,허준박물관,서울 강서구 가양동 26-5 허준박물관,37.568024,126.850976,02) 3661-8686,NaN,http://www.heojun.seoul.kr/eduevent/educationP...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,126,공연장,서울강서문화원,서울 강서구 화곡동 우장산동 111-90,37.544720,126.843770,02-2607-4233,NaN,http://www.kcc2000.or.kr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,170,기타,서울식물원,서울시 강서구 마곡동로 161,37.569369,126.835234,221049786,NaN,botanicpark.seoul.go.kr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,165,도서관,강서도서관,서울 강서구 등촌동 520-6 ),37.547882,126.859927,02-3219-7000,02-2653-0932,http://gslib.sen.go.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,198,공연장,강서구 문화관광,서울 강서구 화곡동 980-16 ),37.550937,126.849642,02-2600-6071,02-2600-6662,http://munhwa.gangseo.seoul.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,213,미술관,겸재정선미술관,서울 강서구 가양동 243-1,37.572232,126.838710,02-2659-2206,NaN,http://gjjs.or.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,277,기타,강서지역정보센터,서울 강서구 등촌동 705-4 ),37.558979,126.847881,02-3662-8130~2,3662-8134,http://edu.gangseo.seoul.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,282,도서관,강서구립도서관,서울 강서구,37.547882,126.859927,NaN,NaN,http://lib.gangseo.seoul.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,560,미술관,겸재정선미술관,서울 강서구 가양동 243-1,37.572232,126.838710,226592206,NaN,http://gjjs.or.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
679,679,문화예술회관,강서구민회관,서울 강서구 내발산동 19-1 ),37.553373,126.843604,02-3664-6046 8924,NaN,http://www.gssi.or.kr/gpmc/main/contents.do?me...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724,724,박물관/기념관,기생충박물관,서울특별시 강서구 화곡로 333,37.553620,126.850750,02-2601-3283,NaN,http://www.parasite.or.kr/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

화곡6동 3
염창동 1
방화3동 1
가양2동 1
우장산동 2
가양1동 3
등촌2동 2
등촌3동 1

In [135]:
cultural = pd.Series([
    1, 0, 2, 1, 0, 0, 0, 0, 0, 3, 0, 3, 1, 0, 0, 0, 0, 0, 1, 2
],
index = dong_names,
name = '문화시설수')

In [136]:
cultural

염창동     1
등촌1동    0
등촌2동    2
등촌3동    1
화곡본동    0
화곡1동    0
화곡2동    0
화곡3동    0
화곡4동    0
화곡6동    3
화곡8동    0
가양1동    3
가양2동    1
가양3동    0
발산1동    0
공항동     0
방화1동    0
방화2동    0
방화3동    1
우장산동    2
Name: 문화시설수, dtype: int64

In [5]:
cultural.to_csv("X_실내문화시설수.csv", encoding='utf-8-sig')

NameError: name 'cultural' is not defined

# 일자리지원기관

In [7]:
df12 = pd.read_excel('행정동별노인일자리지원기관수.xlsx', index_col=0)
df12

      수
동 분류
염창동   0
등촌1동  0
등촌2동  0
등촌3동  1
화곡본동  0
화곡2동  0
화곡3동  0
화곡4동  0
화곡6동  2
화곡8동  0
가양1동  1
가양2동  0
가양3동  0
발산1동  0
공항동   0
방화1동  0
방화2동  0
방화3동  0
화곡1동  0
우장산동  2

In [8]:
df12 = df12.reindex(dong_names)

In [10]:
df12.to_csv("X_일자리지원기관.csv", encoding='utf-8-sig')